.version.abour /* version checker */
{
	color: #000012;
	background-color: #4A2E59;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#u532
{
	z-index: 2;
	min-height: 101px;
	background-color: #003A61;
	padding-bottom: 1px;
}

#u534-9
{
	z-index: 7;
	position: relative;
	width: 255px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 48px;
}

#u533-4
{
	z-index: 3;
	position: relative;
	width: 253px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 837px;
}

#u532-bw
{
	z-index: 2;
	min-height: 101px;
}

#pu544
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 47px;
}

#u544
{
	z-index: 27;
	width: 309px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u543-6
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 387px;
}

#u535
{
	z-index: 16;
	min-height: 100px;
	background-color: #003A61;
	padding-bottom: 41px;
}

#u532_align_to_page,#u535_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u536-4
{
	z-index: 17;
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 977px;
}

#u534-9_img,#u533-4_img,#u536-4_img
{
	display: block;
	vertical-align: top;
}

#u535-bw
{
	z-index: 16;
	min-height: 100px;
	margin-top: 42px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

