.version.index /* version checker */
{
	color: #0000F1;
	background-color: #51CED4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -46px;
	width: 0.01px;
}

#ppu128-4
{
	width: 0.01px;
	margin-left: -100px;
}

#pu128-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 832px;
}

#u128-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
}

#u121-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	margin-top: 246px;
	position: relative;
}

#u125
{
	z-index: 8;
	width: 775px;
	background-color: #003A61;
	position: relative;
	margin-right: -10000px;
}

#pu130-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: -47px -10000px -17px 20px;
}

#u130-5
{
	z-index: 15;
	-webkit-transform: matrix(0,-1,1,0,121,193);
	-ms-transform: matrix(0,-1,1,0,121,193);
	transform: matrix(0,-1,1,0,121,193);
	left: -121px;
	margin-top: 121px;
	margin-bottom: 121px;
	position: relative;
}

#u129
{
	z-index: 14;
	width: 4px;
	height: 380px;
	background-color: #FFFFFF;
	margin-left: 14px;
	margin-top: 27px;
	position: relative;
}

#u126
{
	z-index: 9;
	width: 772px;
	height: 458px;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 120px;
	background: transparent url("../images/%e5%bf%83%e9%9d%88%e6%a7%8b%e6%88%901.jpg") no-repeat left top;
	background-size: contain;
}

#u185-9
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 42px;
}

#pu501
{
	width: 0.01px;
	margin-left: -126px;
	margin-top: 17px;
}

#u501
{
	z-index: 2;
	width: 499px;
	height: 1169px;
	-webkit-transform: matrix(0,1,-1,0,834,335);
	-ms-transform: matrix(0,1,-1,0,834,335);
	transform: matrix(0,1,-1,0,834,335);
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1271px;
	left: 352px;
	background: transparent url("../images/jpeg%20%e5%bd%b1%e5%83%8f-84568f7482d9-1.jpg") no-repeat left top;
	background-size: contain;
}

#u470
{
	z-index: 3;
	width: 250px;
	height: 1202px;
	-webkit-transform: matrix(0,1,-1,0,726,476);
	-ms-transform: matrix(0,1,-1,0,726,476);
	transform: matrix(0,1,-1,0,726,476);
	position: relative;
	margin-right: -10000px;
	margin-top: -392px;
	left: 476px;
	background: transparent url("../images/jpeg%20%e5%bd%b1%e5%83%8f-b2f6117d37c2-1.jpg") no-repeat left top;
	background-size: contain;
}

#u133
{
	z-index: 20;
	width: 531px;
	background-color: #C7B299;
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 655px;
}

#u134
{
	z-index: 21;
	width: 368px;
	height: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 82px;
	background: transparent url("../images/%e5%bf%83%e9%9d%88%e8%87%aa%e7%99%bd2.jpg") no-repeat left top;
	background-size: contain;
}

#u135
{
	z-index: 22;
	width: 420px;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 288px;
	background: transparent url("../images/%e8%a8%ad%e8%a8%88%e7%b9%aa%e7%95%ab7.jpg") no-repeat left top;
	background-size: contain;
}

#u183-6
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-bottom: -33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 12px;
}

#u142
{
	z-index: 23;
	width: 4px;
	height: 380px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 1133px;
}

#u143
{
	z-index: 24;
	width: 4px;
	height: 232px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 719px;
	left: 1133px;
}

#u144-4
{
	z-index: 25;
	width: 212px;
	min-height: 50px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	-webkit-transform: matrix(0,-1,1,0,81,131);
	-ms-transform: matrix(0,-1,1,0,81,131);
	transform: matrix(0,-1,1,0,81,131);
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
	left: 1036px;
}

#u145
{
	z-index: 29;
	width: 904px;
	position: relative;
	margin-right: -10000px;
	margin-top: 915px;
	left: 146px;
	background: transparent url("../images/%e5%a4%a7%e5%af%b6%e5%af%b61.jpg") no-repeat left top;
	background-size: contain;
}

#u162
{
	z-index: 30;
	width: 532px;
	height: 454px;
	background-color: #000000;
	opacity: 0.31;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=31)";
	filter: alpha(opacity=31);
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 527px;
}

#u163
{
	z-index: 31;
	width: 373px;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1084px;
	left: 760px;
	background: transparent url("../images/%e9%9d%88%e5%85%89%e8%bc%89%e9%ab%942-u163-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u180-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 491px;
	left: -69px;
}

#u181-4
{
	z-index: 44;
	width: 277px;
	min-height: 50px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 214px;
}

#u170
{
	z-index: 32;
	width: 742px;
	height: 603px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1829px;
	left: 344px;
	background: transparent url("../images/%e4%ba%ba%e9%ab%94%e8%88%9e%e5%8b%952.jpg") no-repeat left top;
	background-size: contain;
}

#u177
{
	z-index: 33;
	width: 198px;
	background-color: #4E0020;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1829px;
	left: 146px;
}

#u178-6
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 421px;
	left: 20px;
}

#u386-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u186
{
	z-index: 63;
	min-height: 95px;
	background-color: #003A61;
	padding-bottom: 46px;
}

#u186_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -33px;
}

#u187-4
{
	z-index: 64;
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 970px;
}

#u130-5_img,#u187-4_img
{
	display: block;
	vertical-align: top;
}

#u186-bw
{
	z-index: 63;
	min-height: 95px;
	margin-top: -33px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

